In [126]:
import pandas as pd

In [127]:
df_train=pd.read_csv('../../datasets/train.csv')
df_test=pd.read_csv('../../datasets/test.csv')

In [128]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [129]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Fill missing data

In [130]:
df_train['Age'].median()

28.0

In [131]:
df_train['Age'].fillna(df_train['Age'].median(), inplace=True)

In [132]:
df_train['Embarked'].mode().iloc[0]

'S'

In [133]:
df_train['Embarked'].fillna(df_train['Embarked'].mode().iloc[0], inplace=True)

In [134]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Feature Encoding

In [135]:
df_train['Sex'] = df_train['Sex'].map({'male':0, 'female':1}) # execute only once

In [136]:
df_train['Embarked'] = df_train['Embarked'].map({'S':0, 'C':1, 'Q':2}) # execute only once

In [137]:
df_train['isCabin'] = (~df_train['Cabin'].isna()).apply(int)

In [138]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    int64
 12  isCabin      891 non-null    int64
dtypes: float64(2), int64(8), object(3)
memory usage: 90.6+ KB

In [139]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'isCabin'],
      dtype='object')

In [140]:
selected_columns = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'isCabin']

In [125]:
x_train = df_train[selected_columns]
y_train = df_train['Survived']

# Model Building

# LogisticRegression

In [24]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x_train)

x_train_scaled=scaler.transform(x_train)

from sklearn.linear_model import LogisticRegression
modellog=LogisticRegression()
modellog.fit(x_train_scaled,y_train)

LogisticRegression()

In [26]:
modellog.score(x_train_scaled,y_train)

0.8002244668911336

In [42]:
X_test = df_test[selected_columns]

x_test_scaled=scaler.transform(X_test)

# y_test = not available

In [43]:
yplog = modellog.predict(x_test_scaled)
#Test Score=0.75598

In [44]:
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yplog})
df_submit.to_csv('logReg.csv',index=False)

# KNN

In [51]:
from sklearn.neighbors import KNeighborsClassifier
modelknn2=KNeighborsClassifier(n_neighbors=2)
modelknn2.fit(x_train,y_train)
#TestScore: 0.61722

KNeighborsClassifier(n_neighbors=2)

In [52]:
modelknn2.score(x_train,y_train)

C:\Users\deshm\anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8451178451178452

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
modelknn4=KNeighborsClassifier(n_neighbors=4)
modelknn4.fit(x_train,y_train)
modelknn4.score(x_train,y_train)
#TestScore: 0.63157

In [ ]:
ypk2 = modelknn2.predict(x_test)

In [ ]:
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':ypk2})
df_submit.to_csv('knn2.csv',index=False)

In [ ]:
ypk4 = modelknn4.predict(x_test)
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':ypk4})
df_submit.to_csv('knn4.csv',index=False)

# SVM

In [56]:
from sklearn.svm import SVC
model_lin = SVC(kernel='linear')
model_lin.fit(x_train_scaled,y_train)

model_poly = SVC(kernel='poly')
model_poly.fit(x_train_scaled,y_train)

model_rbf = SVC(kernel='rbf')
model_rbf.fit(x_train_scaled,y_train)

SVC()

In [57]:
model_lin.score(x_train_scaled,y_train),model_poly.score(x_train_scaled,y_train),model_rbf.score(x_train_scaled,y_train)

(0.7867564534231201, 0.8260381593714927, 0.8226711560044894)

In [58]:
yplin = model_lin.predict(x_test_scaled)
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yplin})
df_submit.to_csv('SvmLin.csv',index=False)
#TestScore:0.76555

In [59]:
yppoly = model_poly.predict(x_test_scaled)
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yppoly})
df_submit.to_csv('SvmPoly.csv',index=False)
#TestScore:0.78229

In [60]:
yprbf = model_rbf.predict(x_test_scaled)
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yprbf})
df_submit.to_csv('SvmRbf.csv',index=False)
#TestScore:0.78468

# DecisionTreeClassifier

In [74]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
params = {'max_depth':[1,2,3,4], 'min_samples_leaf':[1,2,3,4,5,6],'min_samples_split':[2,4,6,8,10,14,18]}
gridcv = GridSearchCV(estimator=DecisionTreeClassifier(random_state=1), param_grid=params,scoring='precision',
                      verbose=0, cv=6)
gridcv.fit(x_train,y_train)

GridSearchCV(cv=6, estimator=DecisionTreeClassifier(random_state=1),
             param_grid={'max_depth': [1, 2, 3, 4],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6],
                         'min_samples_split': [2, 4, 6, 8, 10, 14, 18]},
             scoring='precision')

In [76]:
gridcv.best_params_

{'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 2}

In [75]:
gridcv.best_score_

0.832287419609305

In [77]:
ypdt = gridcv.predict(x_test_scaled)
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':ypdt})
df_submit.to_csv('DT.csv',index=False)
#TestScore:0.76555

C:\Users\deshm\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

# RandomForestClassifier

In [110]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
params = {'max_depth':[1,2,3,4], 'min_samples_split':[2,3,5,8,10],'n_estimators':[10,25,50,75,100],'min_samples_leaf':[1,2,3,4],'min_impurity_decrease':[0.01,0.05,0.09,0.13]}
gridcvr = GridSearchCV(estimator=RandomForestClassifier(random_state=1), param_grid=params,verbose=0,cv=5,n_jobs=4)
gridcvr.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=1), n_jobs=4,
             param_grid={'max_depth': [1, 2, 3, 4],
                         'min_impurity_decrease': [0.01, 0.05, 0.09, 0.13],
                         'min_samples_leaf': [1, 2, 3, 4],
                         'min_samples_split': [2, 3, 5, 8, 10],
                         'n_estimators': [10, 25, 50, 75, 100]})

In [111]:
gridcvr.best_score_

0.7946770447555082

In [124]:
yprfc = gridcvr.predict(x_test_scaled)
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yprfc})
df_submit.to_csv('RFC1.csv',index=False)
#TestScore:0. 0.76555

C:\Users\deshm\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

# Test Data

In [29]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [113]:
selected_columns

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'isCabin']

In [114]:
df_test['Age'].fillna(df_train['Age'].median(), inplace=True)

In [115]:
df_test['Fare'].fillna(df_train['Fare'].median(), inplace=True)

In [116]:
df_test['Sex'] = df_test['Sex'].map({'male':0, 'female':1}) # execute only once
df_test['Embarked'] = df_test['Embarked'].map({'S':0, 'C':1, 'Q':2}) # execute only once

In [117]:
df_test['isCabin'] = (~df_test['Cabin'].isna()).apply(int)

In [118]:
df_test[selected_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       0 non-null      float64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  0 non-null      float64
 7   isCabin   418 non-null    int64
dtypes: float64(4), int64(4)
memory usage: 26.2 KB

In [119]:
df_test['PassengerId']

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [120]:
x_test = df_test[selected_columns]

In [121]:
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yp})

NameError: name 'yp' is not defined

In [ ]:
df_submit.head()

In [ ]:
df_submit.to_csv('submit1.csv',index=False)